<%= form_for @task, url:api_v1_tasks_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div>
    <%= f.submit "submit" %>
  </div>
<% end %>
